/* roboto-regular - latin */
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-condensed-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed-v25-latin-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v25-latin-regular.woff") format("woff"), url("../fonts/roboto-condensed-v25-latin-regular.ttf") format("truetype"), url("../fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"), url("../fonts/open-sans-v34-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v34-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-600.woff") format("woff"), url("../fonts/open-sans-v34-latin-600.ttf") format("truetype"), url("../fonts/open-sans-v34-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
.container {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #01383a;
}

.common-body-style {
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .common-body-style {
    background-image: url(../images/main/main-bg-mobile.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .common-body-style {
    background-image: url(../images/main/main-bg-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .common-body-style {
    background-image: url(../images/main/main-bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .common-body-style {
    background-image: url(../images/main/main-bg-tablet@2x.jpg);
  }
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.blog-article {
  background-color: #01383A;
  background-image: url(../images/article/blog-article-bg-mobile_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-wrap: 1;
  height: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .blog-article .box {
    background-image: url(../images/article/blog-article-bg-mobile_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .blog-article {
    background-image: url(../images/article/blog-article-bg-tablet_1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .blog-article .box {
    background-image: url(../images/article/blog-article-bg-tablet_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .blog-article {
    background-image: url(../images/article/blog-article-bg-desctop_1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .blog-article .box {
    background-image: url(../images/article/blog-article-bg-desctop_2x.jpg);
  }
}

.blog-article__container {
  padding-top: 40px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .blog-article__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .blog-article__container {
    width: 1280px;
  }
}

.blog-article__top-title {
  width: 288px;
  height: 56px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin-bottom: 31px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  text-align: left;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .blog-article__top-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1;
  }
}
@media screen and (min-width: 1200px) {
  .blog-article__top-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1;
  }
}

.blog-article__icon--top {
  color: #7BE34A;
  border: 1px solid #7BE34A;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  margin-bottom: 3px;
}

.blog-article__icon--bottom {
  color: #28780D;
  border: 1px solid #28780D;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

.top-text {
  width: 288px;
  margin-top: 20px;
  margin-bottom: 48px;
}

.top-text__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .top-text__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: #86E543;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .top-text__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: #86E543;
    margin-bottom: 24px;
  }
}

.top-text__date {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #8D9289;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .top-text__date {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: #8D9289;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .top-text__date {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: #8D9289;
    margin-bottom: 24px;
  }
}

.top-text-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .top-text-list__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .top-text-list__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }
}

.checklist__top-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .checklist__top-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    color: #86E543;
  }
}

.checklist-list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .checklist-list__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: #86E543;
  }
}
@media screen and (min-width: 768px) {
  .checklist-list__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: #86E543;
  }
}

.checklist__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .checklist__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .checklist__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }
}/*# sourceMappingURL=main.css.map */